<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		<arg name = "world_name" value = "$(find testpkg0)/world/world2.world"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="false"/>
	</include>
	
	<node pkg="gazebo_ros" type="spawn_model" name="gazebo_spawn"
		args="-file $(find testpkg0)/urdf/lab9/car.urdf -urdf -x -0.5 -y 5.5 -z 0 -Y 4.84 -model CAR0">
	</node>
	
	<node pkg="gmapping" type="slam_gmapping" name="slam"/>
	
	<node pkg = "testpkg0" type = "car_laser_node" name = "car_laser_node"/>
	
<!--	<node pkg = "testpkg0" type = "car_ctl_node" name = "car_ctl_node">-->
<!--		<param name = "ball_vel" type = "double" value = "1.0"/>-->
<!--	</node>-->
	
	<param name="robot_description" textfile="$(find testpkg0)/urdf/lab9/car.urdf" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find testpkg0)/urdf/rviz.rviz" />
	<node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
